.pagination {
  justify-content: center;
}

.portfolio-block.block-intro .avatar {
  width: 350px;
  height: 251px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.description {
 height: 60px ;
  overflow: hidden;
}

.modal-content {
  width: 600px;
}

p {
  text-justify: auto;
}

.pagination ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li a,
.pagination li span {
  color: #666;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #EEE;
  background-color: #FFF;
  box-shadow: 0px 0px 10px 0px #EEE;
}

.pagination .current {
  color: #FFF;
  background-color: rgb(14, 58, 177);
  border-color:  rgb(14, 58, 177);
}

.pagination .prev.current,
.pagination .next.current {
  background: blue;
}